article.post {
  border-bottom: 2px dotted #bbbbbb;
}

article.post:last-of-type {
  border-bottom: none;
}

.article {
  display: block;
  width: 100%;
}
/*article.clearfix :after {
  content: "";
  display: table;
  clear: both;
}*/
